body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
}

.calculator {
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 10px #aaa;
  width: 220px;
  text-align: center;
}

#display {
  width: 100%;
  height: 40px;
  font-size: 24px;
  text-align: right;
  margin-bottom: 10px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Ajustes para tabla */
table {
  margin: 0 auto 10px auto;
  border-spacing: 5px;
  width: 100%;
  table-layout: fixed; /* Hace que todas las columnas tengan el mismo ancho */
}

td {
  padding: 0;
  width: 25%; /* 4 columnas iguales */
}

/* Botones */
.button,
.operator,
.equal {
  height: 40px;
  font-size: 18px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%; /* Estira el botón al 100% del td */
  box-sizing: border-box; /* Previene que el padding/outline rompa el layout */
}

.button {
  background-color: #2980b9;
  color: white;
}

.operator {
  background-color: green;
  color: white;
}

.equal {
  background-color: orange;
  color: white;
}

/* Botón Borrar */
.vestimenta-boton-delete {
  color: white;
  font-family: arial;
  font-weight: bold;
  font-size: 70%;
  background-color: red;
  box-shadow: 0px 5px #0B3E22;
  width: 100%;
  height: 30px;
  border-radius: 6px;
  border-color: #0B3E22;
  cursor: pointer;
}
